.idea/
.venv/
fdo_doip_s3_adapter/doip_s3_adapter/aws/
fdo_doip_s3_adapter/doip_s3_adapter/doip_venv/
fdo_doip_s3_adapter/doip_s3_adapter/awscliv2.zip
fdo_doip_s3_adapter/doip_s3_adapter/__pycache__/
fdo_doip_s3_adapter/log.log
cargo/handler_doip_sthree.py
cargo/interface_sthree.py
cargo/models.py
cargo/server.py

cargo/create1
cargo/create2
cargo/create3
cargo/retrive
cargo/retrive2
cargo/create3.py
fdo_doip_s3_adapter/doip_frames/__pycache__/
